<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.5.2" targetFramework="net461" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net461" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net461" />
  <package id="Magick.NET.Core" version="14.2.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.2.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
</packages>